.text-primary {
  color: #409EFF !important;
}

.text-success {
  color: #67C23A !important;
}

.text-info {
  color: #909399 !important;
}

.text-warning {
  color: #E6A23C !important;
}

.text-danger {
  color: #F56C6C !important;
}
