// Theme colors, according to elementui
$primary: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

// Color
$theme-colors: () !default;
$theme-colors: map-merge((
  'primary': $primary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
), $theme-colors);

@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
}

// Text color style
@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}
