@import "variables";
@import "mixins";

// Text color style
@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

// Background color style
@each $color, $value in $theme-colors {
  @include bg-color-emphasis-variant(".bg-#{$color}", $value);
}

// Display type
@each $key, $value in $display-types {
  @include display-emphasis-variant(".d-#{$key}", $value);
}

// Cursor style
@each $key, $value in $cursor-styles {
  @include cursor-emphasis-variant(".cur-#{$key}", $value);
}

// Text decoration styles
@each $key, $value in $text-styles {
  @include text-style-emphasis-variant(".text-dec-#{$key}", $value);
}

@each $prop, $abbrev in (width: w, height: h) {
  .#{$abbrev}-auto {
    #{$prop}: auto !important;
  }
}

$shifts: (
  top: t,
  bottom: b,
  left: l,
  right: r,
);
@each $prop, $abbrev in $shifts {
  @each $size, $length in $gutter-sizes {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
  }
}
// Margin and padding
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $gutter-sizes {

    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}
